.controls-container {
    min-height: 100px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.controls-container button{
    min-height: 2.5em;
    background: #35a5da;
    border: 0;
    border-radius: 2em;
    font-size: .8em;
    padding: 0 1.2em;
    font-weight: bold;
    color: #fff;

}
