.card-container {
    width: 85%;
    min-height: 25em;
    background: #ebebeb;
    margin: 5em 0 1em 0;
}

.card-container h1 {
    font-size: 25px;
    font-weight: bold;
}

.counter-nums {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.name-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}



