body {
  margin: 0;
  padding: 0;
}
header {
  background: #33a5da;
  display: flex;
  padding: 1em;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0 2em 0;
}
.cardBox {
  background: #fff;
  height: 25em;
  width: 50em;
  padding: 1em;
}
footer {
  width: 50em;
  display: flex;
  
}